<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1a3466">
    <meta name="theme-color" content="#ffffff">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar center navbar-inverse navbar-fixed-top">
        <div class="container" id="navContainer">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="bar1"></span>
                    <span class="bar2"></span>
                    <span class="bar3"></span>
                </button>
            </div>

            <div id="brandLinkContainer">
                <a id="brandLink" onclick="Stock.Home.scrollTo('#homeImage');">
                    <img class="navbar-brand" src="~/Content/images/Logo_200.png" />
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="nav-link" onclick="Stock.Home.scrollTo('#about');">About</a></li>
                    <li><a class="nav-link" onclick="Stock.Home.scrollTo('#speakers');">Speakers</a></li>
                    <li><a class="nav-link" onclick="Stock.Home.scrollTo('#schedule');">Schedule</a></li>
                    <li><a class="nav-link" onclick="Stock.Home.scrollTo('#sponsors');">Sponsors</a></li>
                    <li><a class="nav-link" onclick="Stock.Home.scrollTo('#challenge');">ChallengePost</a></li>
                    <li><a class="nav-link" onclick="Stock.Home.scrollTo('#faq');">FAQ</a></li>
                    <li><a class="nav-link" onclick="Stock.Home.scrollTo('#footer');">Contact</a></li>
                </ul>
            </div>

        </div>

        <div id="socialIconContainer">
            <a class="group" href="https://www.facebook.com/SPMDrexel/" target="_blank">
                <img src="~/Content/images/Facebooky.svg" id="facebook" class="socialIcony" />
                <img src="~/Content/images/Facebook.svg" id="facebook" class="socialIcon" />
            </a>
            <a class="group" href="https://twitter.com/spmdrexel" target="_blank">
                <img src="~/Content/images/Twittery.svg" id="twitter" class="socialIcony" />
                <img src="~/Content/images/Twitter.svg" id="twitter" class="socialIcon" />
            </a>
            <a class="group" href="https://www.instagram.com/spmdrexel/" target="_blank">
                <img src="~/Content/images/Instagramy.svg" id="instagram" class="socialIcony" />
                <img src="~/Content/images/Instagram.svg" id="instagram" class="socialIcon" />
            </a>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
</body>
</html>
