<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="brandLinkContainer">
                    <a id="brandLink" onclick="Stock.Home.scrollTo('#homeImage');">
                        @*href="@Url.Action("Index", "Home")"*@
                        <img class="navbar-brand" src="~/Content/images/Logo_90.png" />
                    </a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="nav-link" onclick="Stock.Home.scrollTo('#about');">About</a></li>
                    <li><a class="nav-link" onclick="Stock.Home.scrollTo('#speakers');">Speakers</a></li>
                    <li><a class="nav-link" onclick="Stock.Home.scrollTo('#schedule');">Schedule</a></li>
                    <li><a class="nav-link" onclick="Stock.Home.scrollTo('#sponsors');">Sponsors</a></li>
                    <li><a class="nav-link" onclick="Stock.Home.scrollTo('#faq');">FAQ</a></li>
                    <li><a class="nav-link" onclick="Stock.Home.scrollTo('#contact');">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvO3M3ofJNmyyfEzkxOhyW7Mat8dOcQZY&callback=initMap"
            async defer> </script>

    <script>
        function initMap() {
            var map;
            var latlng = new google.maps.LatLng(39.955213, -75.188198)
            map = new google.maps.Map(document.getElementById('map'), {
                center: latlng,
                zoom: 18
            });

            var marker = new google.maps.Marker({ // Set the marker
                position: latlng, // Position marker to coordinates
                map: map, // assign the market to our map variable
                title: 'LeBow College of Business' // Marker ALT Text
            });

            var infowindow = new google.maps.InfoWindow({ // Create a new InfoWindow
                content: '<b>LeBow College of Business</b><br>\
                          3220 Market St<br>\
                          Philadelphia, PA 19104<br>\
                          <a target="_blank" href="https://maps.google.com/maps?ll=39.955213,-75.188198&z=18&t=m&hl=en-US&gl=US&mapclient=apiv3&cid=3657902883847509630">\
                          View on Google Maps</a>'
            });

            google.maps.event.addListener(marker, 'click', function () { // Add a Click Listener to our marker
                infowindow.open(map, marker); // Open our InfoWindow
            });

        }
    </script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
</body>
</html>
