@model StockPitchMadness.ViewModels.Home

@{
    ViewBag.Title = "Stock Pitch Madness";
}


<div id="homeImage" class="bigImg">
    <div>
        <img id="homeLogo" src="~/Content/images/Logo_200.png" />
        <span id="subTitle">
            The premier student lead stock pitch competition.
        </span>
        <spam id="date">
            OCTOBER 28-29, 2017
        </spam>
        <div id="applyBtn" class="btn">
            Apply Now
        </div>
    </div>
</div>

<div class="sec" id="about">
    @Html.Partial("AboutPartial")
</div>

<div class="sec" id="speakers">
    @Html.Partial("SpeakersPartial", Model.Speakers)
</div>

<div class="sec" id="schedule">
    @Html.Partial("SchedulePartial", Model.Schedules)
</div>

<div class="sec" id="sponsors">
    @Html.Partial("SponsorsPartial", Model.Sponsors)
</div>

<div class="sec" id="faq">
    @Html.Partial("FAQPartial", Model.Questions)
</div>

<div class="sec" id="contact">
    @Html.Partial("ContactPartial")
</div>


@section scripts {
    <script>
        var home = new Stock.Home();
        home.init();

    </script>

}